.overflowing-image-container {
  position: relative;
}

.overflowing-image-container .aspect-container {
  height: 0;
  width: 100%;
  position: relative;
  top: 0;
}

.overflowing-image-container .overflowing-image-positioning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflowing-image-container img {
  max-width: 1000%;
  display: block;
  position: absolute;
  height: auto;
}
